@keyframes slideIn {
    0% {
        transform: translateY(-600%);
        color: #fff0;
    }
    100% {
        transform: translateY(0);
        color: #ffff;
    }
}
@keyframes navSlideIn {
    0% {
        transform: translateY(-400%);
        color: #fff0;
    }
    100% {
        transform: translateY(0);
        color: #ffff;
    }
}
@keyframes imageFade {
    0% {
        background-color: #000;
    }
    100% {
        background-color: #0003;
    }
}
@keyframes rotate {
    0% { clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%); }
    25% { clip-path: polygon(37.5% 62.5%, 37.5% 37.5%, 62.5% 37.5%, 62.5% 62.5%); }
    50% { clip-path: polygon(75% 75%, 25% 75%, 25% 25%, 75% 25%); }
    75% { clip-path: polygon(87.5% 12.5%, 87.5% 87.5%, 12.5% 87.5%, 12.5% 12.5%); }
    100% { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%); }
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}