.conflict {
    background-image: url(/images/ConflictToast.png);
    background-color: #0000;
}

.anomaly {
    background-image: url(/images/anomaly.png);
    background-color: #0000;
}

.armageddon {
    background-image: url(/images/Armageddon.png);
    background-color: #0000;
}

.ghoul {
    background-image: url(/images/ghoul.png);
    background-color: #0000;
}

.taisou {
    background-image: url(/images/taisou.png);
    background-color: #0000;
}

.spookfest {
    background-image: url(/images/spookfest.png);
    background-color: #0000;
}