@media (max-width: 870) {
    section p {
        font-size: 24px;
    }
    iframe {
        display: none
    }
    .toggle-button {
        display: flex;
    }
    .toggle-button:hover {
        animation: spin 1s;
    }
    .brand-logo {
        display: none;
    }
    
    .map-box-container {
        flex-direction: column;
        padding: 10px;
    }
    .map-box {
        width: 90vw;
        height: 50vw;
        font-size: 1.5rem;
    }
}
.fa-x .hide {
    display: none;
}
.nav-text.hide-text {
    display: none;
}
.hamburger-nav {
    display: none;
}
.hamburger {
    display: flex;
}
.hamburger.hide {
    display: none;
}
.nav-div.hide {
    display: none;
}
.toggle-button.hide {
    display: none;
}
.hamburger.expand {
    height: auto;
}