@media (max-width: 600px) {
    section p {
        font-size: 24px;
    }
    iframe {
        display: none
    }
    .toggle-button {
        display: flex;
    }
    .toggle-button:hover {
        animation: spin 1s;
    }
    .hamburger {
        top: 0;
        right: 0;
        position: fixed;
        display: flex;
        background-color: #324;
        height: 3.5rem;
        width: 100%;
        z-index: 2;
        transition-duration: 0.25s;
    }
    .nav-div {
        display: none;
    }
    .nav-div ul {
        flex-direction: column;
    }
    .brand-logo {
        z-index: 4;
        top: 0.25rem;
        left: 0.25rem;
        width: 2.25rem;
        height: 2.25rem;
        border-width: 2px;
        position: fixed;
    }
    .brand-logo img {
        width: 2.25rem;
        height: 2.25rem;
    }
    .nav-text {
        font-size: 40px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }
    .nav-text li {
        overflow: hidden;
        padding: 0;
        border-bottom: 1px #fff solid;
        border-top: 1px #fff solid;
    }
    .nav-text a {
        color: #fff;
        overflow: hidden;
        display: block;
        margin: 4px;
        text-decoration: none;
    }
    .map-box-container {
        flex-direction: column;
        padding: 10px;
    }
    .map-box {
        width: 90vw;
        height: 50vw;
        font-size: 1.5rem;
    }
}
.fa-x .hide {
    display: none;
}
.nav-text.hide-text {
    display: none;
}
.hamburger-nav {
    display: none;
}
.hamburger {
    display: flex;
}
.hamburger.hide {
    display: none;
}
.nav-div.hide {
    display: none;
}
.toggle-button.hide {
    display: none;
}
.hamburger.expand {
    height: auto;
}