* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #fff;
    background-color: #111;
}
a, b, h1 {
    background-color: #0000;
}
p {
    font-size: 32px;
    margin: 64px;
    background-color: #0000;
}
h2 {
    font-size: 45px;
    display: block;
    background-color: #0000;
}
h3 {
    font-size: 32px;
    background-color: #0000;
}
footer {
    padding: auto;
    text-align: center;
    background-color: #222;
    overflow: hidden;
}
footer a {
    margin: 2px;
    padding: 2px;
    background-color: #0000;
    scroll-behavior: unset;
    overflow: hidden;
}
footer i {
    color: #fff;
    background-color: #0000;
    font-size: 24px;
    border-radius: 2px;
    transition-duration: .25s;
    overflow: hidden;
}
footer i:hover {
    transform: scale(1.3);
}

.size {
    font-size: 24px;
}
.maps {
    background-color: #090909;
    padding: 1vw;
}
.map-box-container div:hover {
    background-color: #0009;
}
.map-box-container {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2em;
    padding-top: 2em;
    background-color: #0000;
    overflow: hidden;
}
.map-box {
    width: 40vw;
    background-color: #fff;
    border-radius: 1em;
    height: 30vw;
    margin: 1vw;
    font-size: 42px;
    text-align: center;
    background-position: center;
    background-blend-mode: multiply;
    transition-duration: 0.25s;
    border: 1px #fff solid;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size:cover;
}
.map-box h3 {
    margin: 1vw;
    font-size: 42px;
}
.map-box a {
    padding: 2px 1em;
    opacity: 0%;
    background-color: #111;
    border: 1px solid #fff;
    color: #fff4;
    border-radius: 15px;
    width: 50px;
    text-decoration: none;
    transition-duration: 0.25s;
    overflow: hidden;
}
.map-box:hover {
    color: #ffff;
    padding: 2vw;
    margin: 0vw;
}
.map-box:hover a {
    color: #ffff;
    opacity: 100%;
}
.map-box a:hover {
    color: #000;
    background-color: #ddd;
}
.map-box ul {
    list-style-type: none;
    overflow: hidden;
    width: auto;
    height: 6em;
    background-color: #0000;
}
.map-box li {
    margin: 4px;
    padding: 4px;
    height: 2.2em;
    background-color: #0000;
}
.brand-logo img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 4px solid #fff;
    background-color: #0000;
}
.brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 auto;
    background-color: #0000;
    animation-delay: 1.5s;
    animation: 1.75s ease-out 0s 1 slideIn;
}

.nav-div {
    margin: auto;
    padding: auto;
    top: 0rem;
    width: 100%;
    height: 4rem;
    display: flex;
    text-align: center;
    background-image: 
    linear-gradient(
        45deg,
        #0000 5%,
        #f23f,
        #44ef,
        #0000 95%
    );
    mix-blend-mode: normal;
    background-color: #000a;
    position: fixed;
    justify-content: space-between;
}
.nav-div ul {
    padding: 0;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    transition-duration: 0.25s;
}
.nav-div li {
    padding: 1rem;
    background-color: #222a;
    border-left: #fff 1px solid;
    border-right: #fff 1px solid;
    transition-duration: 0.25s;
}
.nav-div a {
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #fff;
    text-decoration: none;
    transition-duration: 0.25s;
}
.nav-div a:hover {
    color: #000;
    background-color: #ddd;
}
.nav-div li:hover {
    background-color: #ddd;
}

.top-image {
    display: block;
    min-height: 100vh;
    background-repeat: no-repeat;
    padding: 10%;
    background-position: 0px;
    background-position: center;
    background-size:cover;
    background-image: linear-gradient(
        rgba(66,69,82,0.42),
        rgba(74,76,85,0.69)
    ),
    url(../images/conflict.png);
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #000;
    animation: 1s ease 0s 1 rotate, 1s ease-out 0.5s 1 imageFade;
    clip-path: polygon(34% 38%, 71% 51%, 35% 59%, 85% 15%);
    animation-fill-mode: forwards;
}

.top-image h1 {
    font-size: 69px;
    text-align: center;
    padding-bottom: 0px;
    color: #ffff;
    animation-delay: 1s;
    animation: 1.5s ease-out 0s 1 slideIn;
}
.top-image p {
    font-size: 20px;
    text-align: center;
    padding-bottom: 0px;
    color: #ffff;
    animation-delay: 1s;
    animation: 1s ease-out 0s 1 slideIn;
}

.toggle-button {
    position: absolute;
    z-index: 3;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width:2.5em;
    height:2em;
}
.toggle-button .bar {
    height: 25%;
    width: 100%;
    font-size: 2px;
    background-color: #fff;
    border-radius: 1.25em;
}









.map-section.conflict-large {
    background-image: linear-gradient(#0000, #121212), url(/images/mapbg/conflict.png);
    z-index: -6;
}
.map-section.anomaly-large {
    background-image: linear-gradient(#0000, #0000, #121212), url(/images/mapbg/anomaly.png);
    z-index: -5;
}
.map-section.weeaboo-large {
    background-image: linear-gradient(#0000, #0000, #121212), url(/images/mapbg/weeaboo.png);
    z-index: -4;
}
.map-section.armageddon-large {
    background-image: linear-gradient(#0000, #0000, #121212), url(/images/mapbg/armageddon.png);
    z-index: -4;
}
.map-section {
    animation: 1s fadeIn;
    background-position-x:center;
    background-repeat: none;
    background-attachment: fixed;
    font-size: 32px;
    background-clip:padding-box;
    background-size: cover;
    background-blend-mode: normal;
}
.map-section h2 {
    margin-top: 10%;
}
.map-section p, h2 {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fff0;
    word-break: keep-all;
}
.left-video {
    margin: 0 10% 10% 10%;
    float: left;
}
.right-video {
    margin: 0 10% 10% 10%;
    float: right;
}
.mid-video {
    display: flex;
    margin: 0 auto 10% auto;
}